<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoodbyeDPI_Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
    <userSettings>
        <GoodbyeDPI_Configurator.Properties.Settings>
            <setting name="StartUpType" serializeAs="String">
                <value>"manual"</value>
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value>{
    "Name": "Modern 9 (Default)",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "WrongSequence": true,
    "WrongChecksum": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  }</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>[
  {
    "Name": "Legacy 1",
    "BlockPassiveDPI": true,
    "ReplaceHost": true,
    "RemoveSpaceBetweenHeaderValue": true,
    "DontWaitForFirstAck": true,
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "PHTTPFragmentationEnabled": true,
    "PHTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2
  },
  {
    "Name": "Legacy 2",
    "BlockPassiveDPI": true,
    "ReplaceHost": true,
    "RemoveSpaceBetweenHeaderValue": true,
    "DontWaitForFirstAck": true,
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "PHTTPFragmentationEnabled": true,
    "PHTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 40
  },
  {
    "Name": "Legacy 3",
    "BlockPassiveDPI": true,
    "ReplaceHost": true,
    "RemoveSpaceBetweenHeaderValue": true,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 40
  },
  {
    "Name": "Legacy 4",
    "BlockPassiveDPI": true,
    "ReplaceHost": true,
    "RemoveSpaceBetweenHeaderValue": true
  },
  {
    "Name": "Modern 5",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "AutoTTLBaseTopMaxEnabled": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  },
  {
    "Name": "Modern 6",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "WrongSequence": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  },
  {
    "Name": "Modern 7",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "WrongChecksum": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  },
  {
    "Name": "Modern 8",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "WrongSequence": true,
    "WrongChecksum": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  },
  {
    "Name": "Modern 9 (Default)",
    "HTTPFragmentationEnabled": true,
    "HTTPFragmentationValue": 2,
    "HTTPSFragmentationEnabled": true,
    "HTTPSFragmentationValue": 2,
    "WrongSequence": true,
    "WrongChecksum": true,
    "ReverseFragmentation": true,
    "MaxPayloadEnabled": true
  }
]</value>
            </setting>
            <setting name="KillWinDivert" serializeAs="String">
                <value>True</value>
            </setting>
        </GoodbyeDPI_Configurator.Properties.Settings>
    </userSettings>
</configuration>